@model Vedma0.Models.Properties.BaseTextArrayProperty

@{
    ViewData["Title"] = "CreateTextArray";
    Layout = "~/Views/Shared/_Console.cshtml";
    if (Model != null)
    {
        ViewData["PresetId"]= Model.PresetId;
    }
}

<h2>CreateTextArray</h2>

<h4>BaseTextArrayProperty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTextArray">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PresetId" value="@ViewData["PresetId"]" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Visible" /> @Html.DisplayNameFor(model => model.Visible)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Presets" asp-action="Details" asp-route-id="@ViewData["PresetId"]">Назад к пресету</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
