
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoCharacter</title>
</head>
<body>
    <h1>Вам ещё не присвоен персонаж</h1>
</body>
</html>
