
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoCharacter</title>
</head>
<body>
    @if (ViewData["IsMaster"].Equals("true"))
    {
    <a class="btn btn-default" asp-action="Index" asp-controller="Console" asp-route-id=@ViewData["Id"]>
        Средства разработки
    </a>
        <a asp-action="Index" asp-controller="Console" asp-route-id="@ViewData["Id"]">Средства разработки</a>
    }

    <h1>Вам ещё не присвоен персонаж</h1>
</body>
</html>
